.body{
    background-image: url(' ');
}

header {
    background-color: #7e4596;
    padding: 10px;
    text-align: center;
}

.button {
    appearance: none;
    background-color: #663a79;
    border-radius: 40em;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 2px solid black; /* Add black outline */
}

.button:hover {
    background-color: #663a79    ;
    transform: scale(1.125);
}

.button:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .button {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}