body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-image: url("../foto/gif.gif"), url("../foto/background.png");  
    background-size: cover;
    background-blend-mode: overlay; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;  
    background-color: rgba(82, 56, 177, 0.5); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #d2d428;
}

main {
    padding-bottom: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #d2d428;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

footer p {
    color: #d2d428;
}

.back-button {
    background-color: #d2d428;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
